h1,h2,h3,h4,ul,ul,li,p{
    margin: 0;
    padding:0;
}

img{
    max-width: 100%;
}

body{
    font-family: Arial;
    color:#000000ea;
}

header{
    padding:60px;
    background-color:rgba(52, 168, 251, 0.732);
    text-align: center;
    color:rgb(23, 23, 23);
    margin-bottom: 20px;
}

main{
    max-width:800px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main form{
    width: 40%;
}

main article{
    width: 50%
}

h1,h2,h3,h4,p{
    margin-bottom:lem;
}
#title{
    text-align: center;
}

label{
    display: block;
    margin-bottom: lem;
}

input,textarea,#destination_details_form button{
    display: block;
    width:100%;
    margin-bottom: lem;
    border: 1px solid #666;
    padding: 16.5px;
    box-sizing: border-box;
}

.card{
    padding: 20px;
    background-color: #dfdfdb;
    margin-bottom: 20px;
}